@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#title {
    text-align: center;
    font-weight: bolder;
}

#description {
    text-align: center;
    font-weight: bolder;
    
}

#survey-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.30);
}

.form-group {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 5pt;
    font-weight: bold;
    
}

body {
    background-image: url(map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}