@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#title {
    text-align: center;
    font-weight: bolder;
    color: white;
}

#description {
    text-align: center;
    font-weight: bolder;
    color: white;
    
}

.form-control {
    display: block;
    width: 50%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    color: white;
  }

  .input-textarea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 120px;
    width: 50%;
    padding: 0.625rem;
    resize: none;
  }

body {
    background-image: url(map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}