@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    font-family: 'Poppins', sans-serif;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
